@media (max-width: 767px) {
  .lg\:hidden {
    display: block !important;
  }
  .lg\:block {
    display: none !important;
  }
  .lg\:flex {
    display: none !important;
  }
  .bg-hero {
    background-image: url('https://filtron.eu/website/images/filters/thumbnails/oe649-4.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
  }
  .main-section{
    background-color: whitesmoke !important;
  }
}